[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
django-cors-headers = "==3.7.0"
django-extensions = "==3.1.3"
drf-yasg = "==1.20.0"
django-storages = "==1.11.1"
requests = "==2.26.0"
bson = "==0.5.10"
Django = "==3.1.12"
opencv-python = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.8"
